In [1]:
import yfinance as yf
import random
import pandas as pd

In [2]:
tickers =['CBA.AX', 'WES.AX', 'BHP.AX', 'RIO.AX', 'TLS.AX', 'WBC.AX', 'CPU.AX', 'SEK.AX', 'ANZ.AX', 'WOW.AX', 'COH.AX', 'REA.AX']
tickers_str = " ".join(tickers)

In [3]:
data = yf.download(tickers_str, start='2010-01-01', end='2022-03-09')['Adj Close']

[*********************100%***********************]  12 of 12 completed

In [4]:
data.to_csv("saved_data.csv")
#you can save the full dataset

In [5]:
data = pd.read_csv("saved_data.csv", index_col = 0)
#if you have previously downloaded and saved the dataset, this cell will load the data

In [6]:
group_num = 1  ### this is your group number 
#e.g. if your group number is 28, change the above code to: group_num = 28

In [7]:
random.seed(group_num)
companies = random.sample(tickers,  k = 8)
print("the 8 companies your group will work on are: ")
print(companies)

the 8 companies your group will work on are:
['BHP.AX', 'WOW.AX', 'WES.AX', 'TLS.AX', 'COH.AX', 'RIO.AX', 'CPU.AX', 'WBC.AX']

In [8]:
data_mygrp = data.loc[:,companies]

In [9]:
data_mygrp.shape

(3080, 8)

In [10]:
data_mygrp

,BHP.AX,WOW.AX,WES.AX,TLS.AX,COH.AX,RIO.AX,CPU.AX,WBC.AX
Date,,,,,,,,
2010-01-04,21.839273,17.903509,11.145973,1.816208,51.211060,47.695763,8.072418,13.378514
2010-01-05,21.940670,17.795315,11.292165,1.810944,49.800896,48.606136,7.988406,13.489560
2010-01-06,22.214417,17.763494,11.124583,1.779358,49.934498,50.025799,7.946398,13.426105
2010-01-07,22.189066,17.725306,10.946303,1.747771,49.355579,50.293179,7.911393,13.246317
2010-01-08,22.113031,17.878054,11.217288,1.779358,49.288784,50.299561,8.058414,13.299196
...,...,...,...,...,...,...,...,...
2022-03-02,48.320000,34.850002,48.759998,3.940000,226.929993,122.377815,21.200001,22.580000
2022-03-03,50.060001,34.110001,49.000000,3.910000,221.860001,126.934959,21.330000,22.469999
2022-03-04,49.939999,34.810001,48.750000,3.920000,222.500000,125.654190,20.990000,22.209999
2022-03-07,50.380001,34.580002,48.080002,3.820000,214.460007,125.078346,20.250000,21.770000
2022-03-08,48.529999,35.740002,48.400002,3.800000,215.220001,119.647491,20.570000,21.670000

In [11]:
data_mygrp.to_csv("my_group_data.csv")
#you can save your group dataset for analysis